<launch>
<include file="$(find f1tenth_gym_ros)/launch/gym_bridge_host.launch"/>

<node pkg="team2_milestone3" type="team2_milestone3_node" name="team2_milestone3_node" output="screen">
    <rosparam command="load" file="$(find team2_milestone3)/rrt_params.yaml" ns="/team2_milestone3"/>
</node>

</launch>
